<%- include('partials/header') %>
    <h1>Home Page</h1>
    <ul>
        <li><a href="/add-book">Add Book</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/cookies-manager">Cookies Manager</a></li>
        <li><a href="/operations-demo">Operations Demo</a></li>
        <li><a href="/cookie1">Cookie Demo</a></li>
    </ul>
<%- include('partials/footer') %>