<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form - app3 </title>
</head>
<body>
    <a href="logout">Logout</a>
        
    <br>    
    <H1>This is protected resources.</H1>
    <p>Only logged in users can access this page. </p>    
</body>
</html>