<div class="card">
    <div class="card-title"><h3>Users Recently Joined</h3></div>
    <div class="card-body">
        <ol>
            <li>Abdullah</li>
            <li>Ali</li>
            <li>Ahmad</li>
        </ol>
    </div>
</div>
<br>